<h3><%= t('views.follow.show_follow.followings') %></h3>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>
<%= link_to t('views.common.back'), user_path(@user) %>
